<div class="row justify-content-center">
  <div class="col-xl-4 col-lg-5 col-md">
    <h3 class="text-center">Date</h3>
  </div>
  <div class="col-xl-4 col-lg-5 col-md">
    <h3 class="text-center">Epoch</h3>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-sm-1 col-2">Now</div>
  <div class="col-xl-3 col-lg-4 col-md col-sm-11 col-10">
    <div class="form-control" readonly>{{now | date : 'yyyy/MM/dd hh:mm:ss z'}}</div>
  </div>
  <div class="col-sm-1 col-2">Millis</div>
  <div class="col-xl-3 col-lg-4 col-md col-sm-11 col-10">
    <div class="form-control" readonly>{{now}}</div>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-xl-4 col-lg-5 col-md">
    <input type="text" placeholder="Datepicker" class="form-control" (bsValueChange)="dateToEpoch($event)" bsDatepicker>
  </div>
  <div class="col-xl-4 col-lg-5 col-md">
    <div class="form-control" readonly>{{epoch}}</div>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-xl-4 col-lg-5 col-md">
    <div class="form-control" readonly>{{date | date : 'yyyy/MM/dd hh:mm:ss z' }}</div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md">
    <input class="form-control" type="number" (change)="epochMSecondsToDate($event.target.value)">
  </div>
</div>
