<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h3 class="text-center">Date</h3>
  </div>
  <div class="col-sm-4">
    <h3 class="row text-center">Epoch Seconds</h3>
  </div>
  <div class="col-sm-4">
    <h3 class="row text-center">Epoch Milliseconds</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-control" readonly>{{now | date : 'yyyy/MM/dd hh:mm:ss z'}}</div>
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{MS2S(now)}}</div>
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{now}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <input class="form-control" type="date" #inputDate (change)="dateToEpoch(inputDate.value)">
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{epoch ? MS2S(epoch) : ''}}</div>
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{epoch}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-control" readonly>{{date1 | date : 'yyyy/MM/dd hh:mm:ss z' }}</div>
  </div>
  <div class="col-sm-4">
      <input class="form-control" type="number" #inputEpochS (change)="epochSecondsToDate(inputEpochS.value)">
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{inputEpochS.value ? inputEpochS.value * 1000 : ''}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-control" readonly>{{date2 | date : 'yyyy/MM/dd hh:mm:ss z' }}</div>
  </div>
  <div class="col-sm-4">
    <div class="form-control" readonly>{{inputEpoch.value ? MS2S(inputEpoch.value) : ''}}</div>
  </div>
  <div class="col-sm-4">
    <input class="form-control" type="number" #inputEpoch (change)="epochMSecondsToDate(inputEpoch.value)">
  </div>
</div>