<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
    <ul class="nav nav-pills nav-justified">
      <li>
        <a href="#" class="btn btn-default">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a href="delimit" class="btn btn-default">Delimiter</a>
      </li>
      <li>
        <a href="regex" class="btn btn-default">Regex Checker</a>
      </li>
      <li>
        <a href="distinct" class="btn btn-default">Distinct Elements</a>
      </li>
      <li>
        <a href="diff" class="btn btn-default">Diff Viewer</a>
      </li>
      <li>
        <a href="sort" class="btn btn-default">Sorter</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-offset-5 col-md-offset-3 col-sm-offset-1 col-sm-3 hidden-xs text-right">
    <h4>JS - Functions</h4>
  </div>
</div>
