<div class="row">
    <div class="col-xs-5">
        <div class="btn-group">
            <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <a href="diff" class="btn btn-default">Delimiter</a>
            <a href="regex" class="btn btn-default">Regex Checker</a>
            <a href="distinct" class="btn btn-default">Distinct Elements</a>
            <a href="diff" class="btn btn-default">Diff Viewer</a>
            <a href="sort" class="btn btn-default">Sorter</a>
        </div>
    </div>
    <div class="col-xs-2 text-center">
        <h4>JS - Functions</h4>
    </div>
</div>