<div class="row">
  <div class="col-sm-6">
    <h3 class="text-center">Input</h3>
    <textarea class="form-control" rows="10" #input (change)="distinct(input.value)"></textarea>
  </div>
  <div class="col-sm-6">
    <jstt-output-block [output]="output"></jstt-output-block>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-6">
    <jstt-output-block [title]="'Non Duplicates'" [output]="nonDuplicates"></jstt-output-block>
  </div>
  <div class="col-sm-6">
    <jstt-output-block [title]="'Duplicates'" [output]="duplicates"></jstt-output-block>
  </div>
</div>
