<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/delimit.png" class="card-img-top" alt="delimited letters">
      <div class="card-body">
        <h5 class="card-title">Delimiter</h5>
        <a href="delimit" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/regex.png" class="card-img-top" alt="regex formula">
      <div class="card-body">
        <h5 class="card-title">Regex Checker</h5>
        <a href="regex" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/distinct.png" class="card-img-top" alt="getting distinct elements">
      <div class="card-body">
        <h5 class="card-title">Distinct Elements</h5>
        <a href="distinct" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/diff.png" class="card-img-top" alt="difference viewer">
      <div class="card-body">
        <h5 class="card-title">Diff Viewer</h5>
        <a href="diff" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/sort.png" class="card-img-top" alt="text sorting">
      <div class="card-body">
        <h5 class="card-title">Sorter</h5>
        <a href="sort" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="card bg-dark mb-3">
      <img src="assets/images/converter.png" class="card-img-top" alt="conversion">
      <div class="card-body">
        <h5 class="card-title">Timestamp Converter</h5>
        <a href="convert" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
