<div class="row">
  <div class="col-sm-6">
    <h3 class="text-center">Original</h3>
    <textarea class="form-control" rows="10" #left (change)="sort(left.value, right.value)"></textarea>
  </div>
  <div class="col-sm-6">
    <h3 class="text-center">Compare To</h3>
    <textarea class="form-control" rows="10" #right (change)="sort(left.value, right.value)"></textarea>
  </div>
  <table *ngIf="output" class="table table-borderless table-sm table-dark col-sm-12 mt-3">
      <thead>
        <tr>
          <th class="text-center" scope="col">Output</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of output" class="" [ngClass]="{'table-danger': r.startsWith('-::'), 'table-success': r.startsWith('+::')}">
          <td class="py-0" [ngClass]="{'text-dark': !r.startsWith('=::')}">{{r.substring(3)}}</td>
        </tr>
      </tbody>
  </table>
</div>
