.w-100 {
  width:100%;
}

.custom-label {
  width:100%;
  text-align: center;
  display: inline-block;
  padding: 6px 12px;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 4px;
}
